#container {
    border: none;
    cursor: default;
    width: 480px;
    height: 360px;
    overflow: hidden;
    position: relative;
    float: left;
    /* Before, we accomplished this with e.preventDefault
     * on the context div.  But, we'd like to use those click events
     * for some things like reporter sliders.
     */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}

#greenSlide {
    position: absolute;
    float: left;
    z-index: 500;
    margin-left: 30px;
}

#greenSlideFg {
    background-color: #000;
    opacity: 0.4;
    width: 278px;
    height: 218px;
    padding-top: 142px;
    padding-left: 202px;;
}

/* iPad arrow key frame */
#up { width: 540px; height: 30px; clear: both; background-color: #333; }
#left { float: left; width: 30px; height: 360px; background-color: #333; }
#right { float: left; width: 30px; height: 360px; background-color: #333; }
#down { width: 540px; height: 30px; clear: both; background-color: #333; }
    
/* Reporter styles */
.reporter-normal {
    display: inline-block;
    padding: 2px 5px 2px 5px;

    background-color: rgb(193, 196, 199);
    border: 1px solid rgb(130, 126, 126);
    border-radius: 4px;

    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    
    position: absolute;
}

.reporter-inset {
    display: inline-block;
    min-width: 40px;
    margin-left: 5px;
    padding: 1px;
    
    border: 1px solid #fff;
    border-radius: 4px;
    
    box-shadow: inset 0 0 3px #fff;

    text-align: center;
    color: #fff;
}

.reporter-large {
    display: inline-block;
    min-width: 40px;
    padding: 2px 5px 1px 5px;

    border-radius: 4px;

    box-shadow: 0 -3px 3px -3px #fff inset, -3px 0 3px -3px #fff inset,
                0 3px 3px -3px #000 inset, 3px 0 3px -3px #000 inset;
    
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;

    position: absolute;
}

/* List watcher styles */
.list {
    float: left;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: #C1C4C7;
    padding-left: 3px;
    font: bold 10px Verdana, sans-serif;
    position: absolute;
}

.list .list-title {
    padding-top: 2px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.list .list-index {
    color: rgb(81, 81, 81);
    float: left;
    padding: 2px;
    margin-top: 0px;
    font: bold 10px Verdana,sans-serif;
}

.list .list-item {
    float: left;
    width: 70%;
    min-height: 18px; 
    margin-bottom: 0px;
    margin-right: 2px;
    padding-left: 5px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: #D94D11;
    font-size: 10px;
    color: white;
    word-wrap: break-word;
    font: bold 10px Verdana, sans-serif;
}

.list .list-add {
    clear: both;
    background-color: #dedede;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    color: #707070;
    font: bold 10px Verdana, sans-serif;
    text-align: center;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.list .list-length {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 0px;
}

/* Say/think bubble styles */
.bubble-container {
    position: absolute;
}

.bubble {
    position: relative;
    display: inline-block;
    
    max-width: 120px;
    min-width: 40px;
    padding: 6px 11px 6px 11px;
    
    border: 3px solid rgb(160, 160, 160);
    border-radius: 10px;
    
    background: #fff;
    
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-align: center;
}

.bubble-say {
    position: absolute;
    
    margin-top: -3px;
    margin-left: 8px;
    width: 44px;
    height: 18px;
    
    background: url(img/say-bottom.png) transparent no-repeat;
}

.bubble-think {
    position: absolute;
    
    margin-top: 0px;
    margin-left: 8px;
    width: 44px;
    height: 19px;
    
    background: url(img/think-bottom.png) transparent no-repeat;
}
