body {
    background: #fff;
    color: #333;
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
}
/* Wrapper wraps the entire player, and the text below and above. Ideally,
   all CSS selectors would be descendants of #wrapper so that the player
   is embeddable.
*/
 #wrapper {
    width: 540px;
    height: 420px;
    margin: auto;
}
/* Container is the Stage */
 #container {
    border: none;
    cursor: default;
    width: 480px;
    height: 360px;
    overflow: hidden;
    position: relative;
    float: left;
    /* Before, we accomplished this with e.preventDefault
     * on the context div.  But, we'd like to use those click events
     * for some things like reporter sliders.
     */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* The pane over a project with the green flag on startup. */
 #greenSlide {
    position: absolute;
    float: left;
    z-index: 500;
    /* Hmm, will this break after the 501st sprite? */
    margin-left: 30px;
}
#greenSlideFg {
    background-color: rgba(0,0,0,0.4);
    padding: 140px 202px;
}
/* iPad arrow key frame */

/*  This is the frame around the stage with various buttons. */
 #ui-top {
    width: 540px;
    height: 30px;
    clear: both;
    background-color: #eee;
}
#up {
    padding-top: 10px;
    width: 540px;
    height: 30px;
    clear: both;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    color: #ccc;
}
#left {
    float: left;
    width: 30px;
    height: 360px;
    background-color: #eee;
    line-height: 360px;
    color: #ccc;
    text-align: center;
}
#right {
    float: left;
    width: 30px;
    height: 360px;
    background-color: #eee;
    line-height: 360px;
    color: #ccc;
    text-align: center;
}
#down {
    padding-top: 10px;
    width: 540px;
    height: 30px;
    background-color: #eee;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #ccc;
}
#ui-bottom {
    width: 480px;
    height: 30px;
    background-color: #eee;
    padding-left: 30px;
    padding-right: 30px;
    clear: both;
    text-align: right;
}
.playerContainer {
    display: inline-block;
    text-align: center;
}
/* Reporter styles */
 .reporter-normal {
    display: inline-block;
    padding: 2px 5px 2px 5px;
    background-color: rgb(193, 196, 199);
    border: 1px solid rgb(130, 126, 126);
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #000;
    position: absolute;
}
.reporter-inset {
    display: inline-block;
    min-width: 40px;
    margin-left: 5px;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 3px #fff;
    box-shadow: inset 0 0 3px #fff;
    text-align: center;
    color: #fff;
}
.reporter-large {
    display: inline-block;
    min-width: 40px;
    padding: 2px 5px 1px 5px;
    border-radius: 4px;
    -webkit-box-shadow: 0 -3px 3px -3px #fff inset, -3px 0 3px -3px #fff inset, 0 3px 3px -3px #000 inset, 3px 0 3px -3px #000 inset;
    box-shadow: 0 -3px 3px -3px #fff inset, -3px 0 3px -3px #fff inset, 0 3px 3px -3px #000 inset, 3px 0 3px -3px #000 inset;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    position: absolute;
}

.reporter-normal input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    border-radius: 5px;
    background: -webkit-linear-gradient(to bottom right, #818181 1px, #d5d5d5);
    background: -moz-linear-gradient(to bottom right, #818181 1px, #d5d5d5);
    background: -ms-linear-gradient(to bottom right, #818181 1px, #d5d5d5);
    background: -o-linear-gradient(to bottom right, #818181 1px, #d5d5d5);
    background: linear-gradient(to bottom, #818181 1px, #d5d5d5);
    display: block;
    height: 5px;
    margin: 2px;
    outline: none;
}
.reporter-normal input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    appearance: none !important;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-linear-gradient(to bottom right, white 50%, black);
    background: -moz-linear-gradient(to bottom right, white 50%, black);
    background: -ms-linear-gradient(to bottom right, white 50%, black);
    background: -o-linear-gradient(to bottom right, white 50%, black);
    background: linear-gradient(to bottom right, white 50%, black);
    height: 10px;
    width: 10px;
}

/* List watcher styles */
.list {
    float: left;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-style: solid;
    border-color: gray;
    border-width: 2px;
    background-color: #C1C4C7;
    padding-left: 3px;
    font: bold 11px sans-serif;
    position: absolute;
}

.list .list-title {
    padding-top: 2px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 4px;
}

.list .list-scrollbar-container {
    float: right;
    width: 10px;
    position: relative;
}

.list .list-scrollbar {
    position: absolute;
    top: 0px;
    width: 10px;
    background-color: #a8aaad;
    border-radius: 10px;
}

.list .list-index {
    color: rgb(81, 81, 81);
    float: left;
    padding: 2px;
    margin-top: 0px;
    text-align: right;
    font: bold 11px;
}

.list .list-item {
    float: right;
    height: 16px;
    overflow: hidden;
    margin-bottom: 0px;
    margin-right: 2px;
    padding-top: 2px;
    padding-left: 5px;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    background-color: #cc5b22;
    color: white;
    word-wrap: break-word;
    font: bolder 11px sans-serif;
}

.list .list-add {
    clear: both;
    background-color: #dedede;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    color: #707070;
    font: bold 10px sans-serif;
    text-align: center;
    position: absolute;
    bottom: 2px;
    left: 2px;
}

.list .list-length {
    font-size: 10px;
    font-weight: normal;
    text-align: center;
    color: black;
    position: absolute;
    bottom: 2px;
    left: 0px;
    right: 0px;
}

/* Say/think bubble styles */
 .bubble-container {
    position: absolute;
}
.bubble {
    position: relative;
    display: inline-block;
    max-width: 120px;
    min-width: 40px;
    padding: 6px 11px 6px 11px;
    border: 3px solid rgb(160, 160, 160);
    border-radius: 10px;
    background: #fff;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #000;
    text-align: center;
}
.bubble-say {
    position: absolute;
    margin-top: -3px;
    margin-left: 8px;
    width: 44px;
    height: 18px;
    background: url(img/say-bottom.png) transparent no-repeat;
}
.bubble-think {
    position: absolute;
    margin-top: 0px;
    margin-left: 8px;
    width: 44px;
    height: 19px;
    background: url(img/think-bottom.png) transparent no-repeat;
}

#info {
    float: left;
    margin-left: 30px;
    height: 24px;
    padding: 3px;
    color: #aaa;
    font-size: 12px;
}
/* Button styling */
 button {
    background-color: #ddd;
    border-radius: 3px;
    cursor: pointer;
    border-style: none;
    font-family: sans-serif;
    width: 24px;
    padding: 3px;
    margin: 3px;
    margin-top: 0px;
    height: 24px;
    background: -webkit-gradient(linear, top left, bottom left, from(#ddd), to(#ccc));
    background: -webkit-linear-gradient(#ddd, #ccc);
    background: linear-gradient(#ddd, #ccc);
}
button:hover {
    background-color: #ccc;
    background: -webkit-gradient(linear, top left, bottom left, from(#ccc), to(#bbb));
    background: -webkit-linear-gradient(#ccc, #bbb);
    background: linear-gradient(#ccc, #bbb);
}
#trigger_green_flag, #trigger_stop {
    padding-top: 0px;
    font-size: 20px;
    width: 24px;
    margin: 3px;
    float: right;
}
#trigger_green_flag {
    color: #050;
}
#trigger_stop {
    color: #F33;
    margin-right: 30px;
    margin-left: 0px;
}
#clearer {
    clear: both;
}
input[type=text] {
    display: inline-block;
    border-style: none;
    border-radius: 4px;
    font-family: sans-serif;
    background-color: #ddd;
    font-size: 14px;
    padding: 3px;
    height: 18px;
    margin: 3px;
    width: 100px;
}
input[type=text]:focus {
    outline: none;
    background-color: #ccc;
}
#project_id {
    text-align: center;
}
#address-hint {
    font-size: 12px;
}
#go_project {
    display: table-cell;
    height: 24px;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 3px;
    margin-bottom: 0px;
}

